<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<title>Klasseliste</title>
</head>

<body>

	<header>
		<h1>Klasseliste</h1>
		<div id="dark-mode-toggle"></div>
	</header>

	<main id="app" class="main">


		<section v-if="token">
			<table class="sortable">
				<tr>
					<th>Sang</th>
					<th>Artist</th>
				</tr>

				<!-- loops through vue data array "tracks" and gets each json object and populates the data respectively -->
				<tr v-for="track in tracks">
					<td>{{ track.name }}</td>
					<td>{{ track.artist }}</td>
					<td><button id="stemmeknapp" type="button" @click="addTrack(track.id)">Legg inn</button></td>
				</tr>

			</table>
		</section>

		<section class="login" v-else>
				<div class="box">
					<form>
						<span class="text-center">login</span>
					<div class="input-container">		
						<input type="password" required v-model="password"/>
						<label>Passord</label>
					</div>
						<button @click="login" type="button" class="btn">Login</button>
				</form>	
				</div>	
		</section>

		<style>
		 header #admin
		{
			text-decoration: none;
			font-size: 1.2em;
			color: #ffffff;
			background: rgba(0, 0, 0, 0.2);
			border: none;
			outline: none;
			border-radius: 15px;
			padding: 10px;
			transition: 200ms;
			cursor: pointer;
			position: absolute;
			left: 50%;
			transform: translateX(-50%)
		}
		</style>


	</main>

	<link href="dist/oppsett.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="main.js"></script>
</body>
</html>
